.form-container {
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(249, 16, 16)111;
  border-radius: 3px;
}

.textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #160202;
  border-radius: 3px;
  resize: vertical;
}


